# Funciones de agregación

In [1]:
# Librerías
import pandas as pd
import numpy as np

Las personas dueñas de la compañía quedaron tan satisfechas con los análisis de nos piden realizar algunos análisis de los productos:

* ¿Cuántas unidades fueron compradas de cada producto?
* ¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto? 
* ¿Cuáles es el cliente que realizó la compra máxima de cada producto?
* Para los dos productos con más ventas ¿Cómo se distribuyeron el monto de ventas durante los meses del año? 

Para ello vamos a necesitar utilizar funciones de agregación


# 1. Análisis inicial de datos

Repetimos el análisis inicial de datos previo

In [2]:
# Leemos el dataset desde el link
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [3]:
# Renombramos las columnas
df.rename(columns={'account number': 'numero_cuenta', 'name':'nombre', 'sku':'producto', 'quantity': 'cantidad',
                   'unit price':'precio_unitario', 'ext price':'total_ventas', 'date':'fecha'}, inplace=True)

Vamos a utilizar los métodos `pandas.info()` y `pandas.describe()` para conocer el dataset

In [4]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   numero_cuenta    1500 non-null   int64
 1   nombre           1500 non-null   object
 2   producto         1500 non-null   object
 3   cantidad         1500 non-null   int64
 4   precio_unitario  1500 non-null   float64
 5   total_ventas     1500 non-null   float64
 6   fecha            1500 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 82.2+ KB

1. **¿Cuáles son las observaciones?**

  Son las lineas de ventas de una companía 

2. **¿Cuáles son las variables?**

  El numero de cuenta, el nombre, el codigo de producto, la cantidad vendida, el precio unitario, el total de ventas y la fecha.

Observamos que no hay valores faltantes

# 2. Agregaciones

Las dos primeras preguntas se pueden contestar utilizando el procedimiento `groupby-aggregate`

* ¿Cuántas unidades fueron compradas de cada producto?
* ¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto? 

Dependiendo de la forma en la que se plantee el código es posible responder todas las preguntas en una misma tabla de resultados

¿Cuántas unidades fueron compradas de cada producto?

In [5]:
# Agrupamos por producto
grupo_productos = df.groupby(by='producto', as_index=False)

In [6]:
# Obtenemos la cantidad total vendida de nuestro dataset agrupado
cantidad_vendida_productos = grupo_productos.agg(cantidad_total=pd.NamedAgg(column="cantidad",
                                                                            aggfunc="sum"))
cantidad_vendida_productos

    producto  cantidad_total
0   B1-04202            1056
1   B1-05914            1105
2   B1-20000            1309
3   B1-33087            1163
4   B1-33364            1270
5   B1-38851            1324
6   B1-50809             964
7   B1-53102             982
8   B1-53636            1370
9   B1-65551            1187
10  B1-69924            1052
11  B1-86481             807
12  S1-06532            1491
13  S1-27722            1302
14  S1-30248            1147
15  S1-47412            1692
16  S1-50961            1244
17  S1-65481             848
18  S1-82801            1481
19  S1-93683            1396
20  S2-00301             749
21  S2-10342            1382
22  S2-11481            1096
23  S2-16558             999
24  S2-23246             927
25  S2-34077            1413
26  S2-77896            1816
27  S2-78676            1212
28  S2-82423            1413
29  S2-83881            1266

¿Cuál fue el monto de venta total, venta promedio y máxima de cada producto?

In [7]:
# Obtenemos la información de las ventas de nuestro dataset agrupado
grupo_productos.agg(venta_total=pd.NamedAgg(column="total_ventas", aggfunc="sum"),
                   venta_promedio=pd.NamedAgg(column="total_ventas", aggfunc="mean"),
                   venta_maxima=pd.NamedAgg(column="total_ventas", aggfunc="max"))

    producto  venta_total  venta_promedio  venta_maxima
0   B1-04202     65177.35     1357.861458       4770.72
1   B1-05914     61555.27     1256.230000       4031.25
2   B1-20000     81505.54     1537.840377       4414.62
3   B1-33087     62169.92     1412.952727       4708.41
4   B1-33364     75649.75     1543.872449       4824.54
5   B1-38851     81593.09     1457.019464       4057.04
6   B1-50809     46572.03     1194.154615       3897.00
7   B1-53102     56216.37     1147.272857       4014.90
8   B1-53636     71064.01     1340.830377       3793.73
9   B1-65551     56359.15     1199.130851       4300.08
10  B1-69924     62797.41     1427.213864       3712.41
11  B1-86481     42285.61     1208.160286       3547.19
12  S1-06532     71873.35     1356.100943       3428.01
13  S1-27722     74266.14     1401.247925       4418.47
14  S1-30248     54232.35      986.042727       3791.62
15  S1-47412    100631.03     1735.017759       4162.40
16  S1-50961     68117.39     1238.498000       4590.81
17  S1-65481     39573.45     1163.925000       2859.56
18  S1-82801     83425.48     1390.424667       3589.52
19  S1-93683     77165.44     1353.779649       4621.04
20  S2-00301     40861.83     1047.739231       4362.75
21  S2-10342     74474.27     1262.275763       4543.96
22  S2-11481     54749.12     1244.298182       3578.27
23  S2-16558     51959.28     1060.393469       3443.20
24  S2-23246     54468.34     1328.496098       4367.24
25  S2-34077     87843.42     1722.420000       4498.20
26  S2-77896     90472.96     1239.355616       3993.36
27  S2-78676     67932.66     1476.796957       4123.35
28  S2-82423     83653.08     1493.805000       3203.90
29  S2-83881     80139.23     1571.357451       4444.30

# 3. Transform

Para contestar la pregunta:

¿Cuál es el cliente que realizó la compra máxima de cada producto?

Vamos a utilizar un proceso de `groupby-transform`

Para ello es necesario:

1. Obtener el monto máximo de ventas de un producto cliente
2. Crear la columna
3. Filtrar los datos de manera acorde a la pregunta

In [8]:
# Creamos una columna con la venta máxima por producto (recordar que ya tenemos el dataset agrupado)
df['venta_maxima_producto'] = grupo_productos['total_ventas'].transform('max')

In [9]:
# Observamos el resultado
df[['nombre','producto', 'total_ventas', 'venta_maxima_producto']].sample(10)

,nombre,producto,total_ventas,venta_maxima_producto
365,Trantow-Barrows,B1-86481,583.26,3547.19
1280,Jerde-Hilpert,S1-47412,933.48,4162.40
1289,Kiehn-Spinka,S1-27722,22.47,4418.47
423,Barton LLC,B1-50809,1048.80,3897.00
472,Will LLC,S1-30248,975.52,3791.62
1432,"Fritsch, Russel and Anderson",S2-23246,3943.35,4367.24
146,Keeling LLC,B1-20000,-72.18,4414.62
1111,"Kassulke, Ondricka and Metz",S1-50961,1481.76,4590.81
1347,White-Trantow,S2-34077,1035.75,4498.20
427,Barton LLC,B1-38851,440.60,4057.04

In [10]:
# Filtrar por la condicion de la pregunta
df.query("total_ventas==venta_maxima_producto")[['nombre', 'producto', 'total_ventas',
                                         'venta_maxima_producto']].sort_values('venta_maxima_producto')

,nombre,producto,total_ventas,venta_maxima_producto
786,Kuhn-Gusikowski,S1-65481,2859.56,2859.56
817,"Cronin, Oberbrunner and Spencer",S2-82423,3203.90,3203.90
347,Herman LLC,S1-06532,3428.01,3428.01
189,Purdy-Kunde,S2-16558,3443.20,3443.20
109,Kulas Inc,B1-86481,3547.19,3547.19
90,"Halvorson, Crona and Champlin",S2-11481,3578.27,3578.27
702,Kulas Inc,S1-82801,3589.52,3589.52
1442,Trantow-Barrows,B1-69924,3712.41,3712.41
744,Jerde-Hilpert,S1-30248,3791.62,3791.62
765,"Fritsch, Russel and Anderson",B1-53636,3793.73,3793.73
477,Sanford and Sons,B1-50809,3897.00,3897.00
1231,"Kassulke, Ondricka and Metz",S2-77896,3993.36,3993.36
176,Will LLC,B1-53102,4014.90,4014.90
842,White-Trantow,B1-05914,4031.25,4031.25
61,White-Trantow,B1-38851,4057.04,4057.04
1083,White-Trantow,S2-78676,4123.35,4123.35
222,"Cronin, Oberbrunner and Spencer",S1-47412,4162.40,4162.40
1224,Trantow-Barrows,B1-65551,4300.08,4300.08
20,White-Trantow,S2-00301,4362.75,4362.75
1255,White-Trantow,S2-23246,4367.24,4367.24
932,Purdy-Kunde,B1-20000,4414.62,4414.62
1032,"Kassulke, Ondricka and Metz",S1-27722,4418.47,4418.47
801,Trantow-Barrows,S2-83881,4444.30,4444.30
330,Keeling LLC,S2-34077,4498.20,4498.20
182,Barton LLC,S2-10342,4543.96,4543.96
352,Kulas Inc,S1-50961,4590.81,4590.81
900,Pollich LLC,S1-93683,4621.04,4621.04
1386,Koepp Ltd,B1-33087,4708.41,4708.41
781,Kuhn-Gusikowski,B1-04202,4770.72,4770.72
881,Kiehn-Spinka,B1-33364,4824.54,4824.54

# 4. Trabajo con fechas

La pregunta que involucra una frecuencia temporal es:


Para los dos productos con más ventas ¿Cómo se distribuyeron el monto de ventas durante los meses del año?

Para ello vamos a utilizar el objeto `pandas.Grouper`.

In [11]:
# Convertimos la fecha a datetime
df['fecha'] = pd.to_datetime(df.fecha)

In [12]:
# Con la información de la primera pregunta podemos obtener los dos productos con más ventas
top_2_productos = cantidad_vendida_productos.nlargest(n=2, columns='cantidad_total')['producto']
list(top_2_productos)

['S2-77896', 'S1-47412']

In [13]:
# Construimos un dataframe sólo con esos productos
df_top_2_productos = df.loc[df['producto'].isin(list(top_2_productos))]
df_top_2_productos.sample(5)

,numero_cuenta,nombre,producto,cantidad,precio_unitario,total_ventas,fecha,venta_maxima_producto
1488,786968,"Frami, Hills and Schmidt",S1-47412,39,49.46,1928.94,2014-12-28 10:11:13,4162.40
686,239344,Stokes LLC,S2-77896,30,60.48,1814.40,2014-06-10 17:49:09,3993.36
1158,740150,Barton LLC,S1-47412,38,66.36,2521.68,2014-10-06 11:38:52,4162.40
615,163416,Purdy-Kunde,S1-47412,27,77.09,2081.43,2014-05-24 10:17:17,4162.40
1481,163416,Purdy-Kunde,S2-77896,9,23.58,212.22,2014-12-25 06:14:53,3993.36

In [14]:
# Agrupamos por producto y mes
df_top_2_productos.groupby(by=['producto', pd.Grouper(key='fecha', freq='M')])\
                  .agg(ventas_totales=('total_ventas',sum)).reset_index()

C:\Users\carlos\AppData\Local\Temp\ipykernel_12356\2121176841.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_top_2_productos.groupby(by=['producto', pd.Grouper(key='fecha', freq='M')])\
C:\Users\carlos\AppData\Local\Temp\ipykernel_12356\2121176841.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  .agg(ventas_totales=('total_ventas',sum)).reset_index()

    producto      fecha  ventas_totales
0   S1-47412 2014-01-31         4850.80
1   S1-47412 2014-02-28        12210.55
2   S1-47412 2014-03-31        11205.95
3   S1-47412 2014-04-30        14394.19
4   S1-47412 2014-05-31         7811.97
5   S1-47412 2014-06-30          494.16
6   S1-47412 2014-07-31        10248.90
7   S1-47412 2014-08-31         3215.02
8   S1-47412 2014-09-30         6052.09
9   S1-47412 2014-10-31        12483.03
10  S1-47412 2014-11-30         6395.82
11  S1-47412 2014-12-31        11268.55
12  S2-77896 2014-01-31         5667.04
13  S2-77896 2014-02-28          624.58
14  S2-77896 2014-03-31         9861.19
15  S2-77896 2014-04-30         7045.48
16  S2-77896 2014-05-31         7700.23
17  S2-77896 2014-06-30        18049.53
18  S2-77896 2014-07-31         4790.61
19  S2-77896 2014-08-31        12872.32
20  S2-77896 2014-09-30         3782.82
21  S2-77896 2014-10-31         9480.06
22  S2-77896 2014-11-30         3948.62
23  S2-77896 2014-12-31         6650.48